<h1>Adaugare caz</h1>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<!--<form id="add-case-form" method="post" data-abide novalidate enctype="multipart/form-data">--><!--the validation of foundation screwed up the form request sent by backbone-->
<form id="add-case-form" method="post" action="api/posts" data-abide novalidate enctype="multipart/form-data">
    <input type="hidden" name="_token" value="{{csrf_token}}">

    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> Unele campuri obligatorii sunt necompletate.</p>
    </div>

    <div class="row">
        <div class="small-12 columns upload-images">
            <label for="image-upload-input">
                <input type="file" id="image-upload-input" multiple accept="image/*">
                <span class="button" id="image-upload-button">Adauga poze</span>
            </label>
            <ul class="files-list">

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            <label for="case-name">Numele cazului
                <small>*</small>
                <input type="text" name="title" id="title" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            Date de contact ale pesoanei care raporteaza
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <label for="reporter-last-name">Numele
                <small>*</small>
                <input type="text" name="reporter-last-name" id="reporter-last-name" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
        <div class="small-6 columns">
            <label for="reporter-first-name">Prenumele
                <small>*</small>
                <input type="text" name="reporter-first-name" id="reporter-first-name" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <label for="reporter-cnp">C.N.P.
                <input type="text" name="reporter-cnp" id="reporter-cnp">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="reporter-ci-series">C.I. Seria
                <input type="text" name="reporter-ci-series" id="reporter-ci-series">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="reporter-ci-number">C.I. Numar
                <input type="text" name="reporter-ci-number" id="reporter-ci-number">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="reporter-phone">Numar de telefon
                <small>*</small>
                <input type="tel" name="reporter-phone" id="reporter-phone" required pattern="number">
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="reporter-email">Email
                <input type="email" name="reporter-email" id="reporter-email">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            Date despre persoana in cauza
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <label for="person-last-name">Numele <b>persoanei in cauza</b>
                <small>*</small>
                <input type="text" name="person-last-name" id="person-last-name" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
        <div class="small-6 columns">
            <label for="person-first-name">Prenumele <b>persoanei in cauza</b>
                <small>*</small>
                <input type="text" name="person-first-name" id="person-first-name" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <label for="person-cnp">C.N.P.
                <input type="text" name="person-cnp" id="person-cnp">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="person-ci-series">C.I. Seria
                <input type="text" name="person-ci-series" id="person-ci-series">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="person-ci-number">C.I. Numar
                <input type="text" name="person-ci-number" id="person-ci-number">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label for="person-county-id">Judet
                <small>*</small>

                <select name="person-county-id" id="person-county-id"><!-- ADD REQUIRED -->
                    <option value="0">Alege</option>
                    {{#each counties as |county|}}
                        <option value="{{@index}}">{{county}}</option>
                    {{/each}}
                </select>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label for="person-city">Localitate
                <small>*</small>
                <input type="text" name="person-city" id="person-city" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="person-address">Alte detalii adresa (strada,numar,etc.)
                <small>*</small>
                <input type="text" name="person-address" id="person-address" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="person-description">Descriere
                <small>*</small>
                <textarea type="text" name="person-description" id="person-description" maxlength="1000"
                          required></textarea>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    {{#if loggedIn}}
        <div class="row">
            <div class="small-12 medium-6 columns">
                <label for="person-money-total">
                        <span class="row">
                            <span class="small-12 columns">Suma necesara</span>
                        </span>
                        <span class="row">
                            <span class="small-10 columns"><input type="text" name="person-money-total"
                                                                  id="person-money-total"></span>
                            <span class="small-2 columns">RON</span>
                        </span>
                </label>
            </div>
            <div class="small-12 medium-6 columns">
                <label for="person-money-partial">
                        <span class="row">
                            <span class="small-12 columns">Suma stransa</span>
                        </span>
                        <span class="row">
                            <span class="small-10 columns"><input type="text" name="person-money-partial"
                                                                  id="person-money-partial"></span>
                            <span class="small-2 columns">RON</span>
                        </span>
                </label>
            </div>
        </div>
    {{/if}}

    <div class="row">
        <div class="small-6 columns">
            <button id="submit-button" class="button float-right" type="submit" value="Submit">Submit</button>
        </div>
        <div class="small-6 columns">
            <button class="button" type="reset" value="Reset">Reset</button>
        </div>
    </div>
</form>