<div class="tabs-panel {{sif active 'is-active' ''}}" id="panel{{id}}">
    <div class="row small-up-1 medium-up-3 large-up-4 thumbnail-posts-wrapper">

    </div>
    <div class="pagination-view-wrapper">

    </div>
</div>