<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Aprobate</a></li>
    <li class="tabs-title"><a href="#panel2">Rezolvate</a></li>
    <li class="tabs-title"><a href="#panel3">În așteptare</a></li>
    <li class="tabs-title"><a href="#panel4">Refuzate</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">

</div>
