<div class="columns small-12">
    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns text-center">
            <img class="logo" src="img/adra.png">
        </div>
    </div>
    {{#if loggedIn}}
    <a href="../logout.php" class="button log-out-button">Logout</a>
    {{/if}}
    <button class="button add-case-button">Adaugă caz</button>
</div>

<div class="dashboard columns small-12">
</div>