<ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    {{#each pictures}}
        {{#if isPublic}}
            <li class="{{sif isCoverImage 'is-active' ''}} orbit-slide">
                <img class="orbit-image" src="{{filePath}}">
            </li>
        {{/if}}
    {{/each}}
</ul>
<nav class="orbit-bullets">
    {{#each pictures}}
        {{#if isPublic}}
            <button class="{{sif isCoverImage 'is-active' ''}}" data-slide="{{id}}"></button>
        {{/if}}
    {{/each}}
</nav>