<a data-open="view-case-modal">
    <div class="thumbnail">
        <img class="thumbnail-img" src="{{file_path}}">
        <h5 class="case-name">{{title}}</h5>
        <h6 class="case-description">{{person_description}}</h6>
    </div>
</a>